
        body {
	background-color: #FFD0D0;
	}
  hr {
    border: none;
    border-top: 4px double #46C2CB;
    color: #FBF8DD;
    overflow: visible;
    text-align: center;
    height: 4px;
  }
  

table { border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    /* border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px; */
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  .circle {
    border-radius: 100%;
   }

  thead,
  tfoot {
    background-color: rgb(174, 222, 242);
  }
  
  th {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(252, 249, 251);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  tr{    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;}